
<div class="panel" ng-controller="vehicleCtrl">
    <table class="table">
        <thead>
        <tr>
            <th>S.No</th>
            <th>Image</th>
            <th>Model</th>
            <th>Make</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="vehicle in vehicles">
            <td>{{$index}}</td>
            <td><img src="{{vehicle.image}}" class="img-rounded" alt="Cinque Terre" width="304" height="236"></td>
            </td>
            <td>{{vehicle.model|uppercase}}</td>
            <td>{{vehicle.make|lowercase}}</td>
            <td>{{vehicle.year}}</td>
            <td>{{vehicle.price}}</td>
            <td><input type="checkbox" ng-model="vehicle.selected"
                       ng-click="selectedVehicle(vehicle)"></td>

        </tr>
        </tbody>
    </table>
</div>

<div class="panel" ng-controller="vehicleDetailCtrl">

</div>